# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
contrib/boost/boost_1_57_0
contrib/cryptopp/cryptopp/
doc/notes/
build/
Engine.cpp
.vscode/
flush_src.tar.bz2.sh
src.tar.bz2
